/* stylesheet for dbslide presentations */

/*++ headings ++*/
h1.title { font-size:44pt; /* this is used on the title page/first slide */
     font-family:sans-serif;
     font-weight:bold;}

h1 { font-size:44pt; /* this is a regular chapter heading */
     font-family:sans-serif;
     border-style:none;
     border-width:thin;
     width:100%;
     background-color:#EEEEFF;}

/* was
h3.author { font-size:36pt;} /* author on titlepage */
*/
h3.author { font-size:30pt;} /* author on titlepage */

h4.simplesect { font-size:30pt;
		font-family:sans-serif;
	        background-color:#FFF3FF;
                border-style:none;
                border-width:thin;
	        width:100%;}

/*++ paragraph-like stuff ++*/
p,li,dl { font-size:16pt;
       font-family:sans-serif;}


/*++ Tables ++*/
/* we use two rules for td to keep the navigation header small and get the tables in the text bigger */
div.navheader td {font-size:12pt;}
div.chapter td {font-size:16pt;
       font-family:sans-serif; 
/*       background-color:#EEFFEE;*/}

div.chapter th {font-size:22pt; 
       font-family:sans-serif; 
       font-weight:bold;
/*       background-color:#CCEECC; */ 
       }


/*++ fancy stuff ++*/
/* display filenames in a monospace font */
.filename {font-family:monospace;
           font-weight:bold;
	   color:#4A2DA4;
}
/* display appnames in a monospace font :peter*/
.application {font-family:monospace;
	   color:#4A2DA4;
}
.sgmltag {font-weight:bold}

/* hide links in navigation header (they still work!) */
div.navheader a:link {color:lightblue;font-size:8pt;}
div.navheader a:visited {color:blue;font-size:8pt;}

.programlisting {font-size:13pt;font-family:monospace;
           font-weight:bold;
	   color:#4A2DA4 }

.screen {font-size:13pt;
         font-family:monospace;
         font-weight:bold;}
 